body {
  background: #cccccc4f;
}

.h3 {
  margin-top: 1.5rem;
}

.bd-box {
  padding: 1rem;
  margin: 1rem -0.75rem 0;
  border: solid #dee2e6;
  border-width: 1px;
  background: #fff;
}

.button-area {
}

.button-area button {
  margin: 0 auto;
  display: block;
  width: 40%;
}

@media (min-width: 576px) {
  .bd-box {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  .button-area button {
    margin: 0 auto;
    display: block;
    width: 20%;
  }
}

.more {
  float: right;
  padding: 1rem 0;
}
