{% extends 'base.html' %} {% block 'body' %}
<h1>Talk manager and scheduler</h1>

<h2 class="h3">Download an Event</h2>
<p>Paste the URL containing the list of sessions (day) and select the corresponding template.</p>
<div class="bd-box">
  <form action="{% url 'home' %}" method="POST" class="row gy-2 gx-3 align-items-center">
    {% csrf_token %}
    <div class="col-auto">
      <label for="" class="form-label">{{ form.event_tpl.label }}</label>
      {{ form.event_tpl }}
    </div>
    <div class="mb-3">
      <label for="form.event_url.id" class="form-label">{{ form.event_url.label }}</label>
      {{ form.event_url }}
    </div>
    <div class="button-area">
      <button type="submit" class="btn-primary btn btn-lg">Submit</button>
    </div>
  </form>
</div>

{% if list %}
<div class="results">
  <ul>
    {% for item in list %}
    <li>
      <div>Title: {{ item.0.0 }}</div>
      <div>Speaker: {{ item.1.0 }} - id: {{ item.2.0 }}</div>
      <div>MP3: <a href="{{ item.3.0 }}">file</a></div>
      <div>Photo: <img src="{{ item.4.0 }}" width="300" alt="" /></div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<p>{{ my_result }}</p>

<h2 class="h3">Latest Talks</h2>
{% if latest_talks %}
<div class="all-sessions">
  <ul class="list-group">
    {% for session in latest_talks %}
    <li class="list-group-item list-group-item-action list-group-item-light">
      <small class="badge bg-primary rounded-pill">{{ session.speaker }}</small> <span class="badge bg-warning rounded-pill">New!</span>
      <br />
      {{ session.name }}, {{ session.event }} <br />
      <audio controls="" preload="none" controlslist="nodownload" style="width: 100%">
        <source src="{{ session.audio_file_path }}" type="audio/mpeg" />
      </audio>
    </li>
    {% endfor %}
  </ul>
  <a href="{% url 'talks_list' %}" class="more">More Talks ></a>
</div>
{% else %} No talks yet... {% endif %} {% endblock %} {% comment %} TO DO: LABEL FOR {% endcomment %}
