{% extends 'base.html' %} {% block 'body' %}
<h2>All Talks</h2>

{% if list_talks %}
<div class="all-sessions">
  <ul class="list-group">
    {% for session in list_talks %}
    <li class="list-group-item list-group-item-action list-group-item-light">
      <small class="badge bg-primary rounded-pill">{{ session.speaker }}</small>
      <br />
      {{ session.name }}, {{ session.event }} <br />
      <audio controls="" preload="none" controlslist="nodownload" style="width: 100%">
        <source src="{{ session.audio_file_path }}" type="audio/mpeg" />
      </audio>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %} {% endblock %}
